<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên bài hát</th>
    <th>Nghệ sĩ</th>
    <th>Thể loại</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="music , i: ${musicList}">
    <td th:text = "${i.index}"></td>
    <td th:text = "${music.name}"></td>
    <td th:text = "${music.artist}"></td>
    <td th:text = "${music.genre}"></td>
    <td>
      <a th:href="@{'/music/edit/' + ${i.index}}">Sửa</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>