<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css_bai1.css">
</head>
<style>
    .cls{
        color: green;

    }
    .cls1{
        color: black;
    }
</style>
<body>
<h3 style="color: green">This is heading 1</h3>
<div style="color: blue">This is an ordinary paragraph. Notice that this text is blue. The default text color for a page is defined in the body selector.</div>

<h2 class="cls">This is heading 1</h2>
<h3 class="cls1">This is an ordinary paragraph. Notice that this text is blue. The default text color for a page is defined in the body selector.</h3>

<h1>This is heading 1</h1>
<h2>This is an ordinary paragraph. Notice that this text is blue. The default text color for a page is defined in the body selector.</h2>
</body>
</html>